<!DOCTYPE html>
<html>
  <head>
    <title>Fantastic Beasts index</title>
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="main.css">
    
  </head>
  <body>
    {{!> main page:  <!}}
<div class ="container">
   <div class="menu">
      <ul>
        <li><a href="#">Random Beast</a></li>
        <br>
        <li><a href="#">Submit Recently discovered</a></li>
        <br>
        <li><a href="#">Contacts</a></li>
      </ul>
    </div>
        <div class="main">
    <div class="sidebar">
        <h2>Sidebar</h2>
        <p>{{beast image}}</p>
      </div>
      <div class="text" >
          {{#each id}}
      <li>{{{name}}}</li>
          <h1>{{{type}}}Grrrrr</h1>
        <p>We gots monsters and things and all sorts of text piscing elit. Phasellus ornare condimentum sem. Nullam a eros. Vivamus vestibulum hendrerit arcu. Integer a orci. Morbi nonummy semper est</p>
        
        {{{characteristics}}}
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus ornare condimentum sem. Nullam a eros. Vivamus vestibulum hendrerit arcu. Integer a orci. Morbi nonummy semper est. </p>
        
        <h1>{{{MON}}}power level</h1>
        <p>Fusce non magna sit amet enim suscipit feugiat. Fusce et leo. Maecenas massa libero, egestas sed, ultricies tempor, laoreet eget, nisl. Nunc eleifend, orci eu aliquet consequat, metus diam suscipit felis, in adipiscing sapien nisl vitae ipsum. Nunc dui ante, vestibulum eget, viverra sed, ullamcorper quis, est. Nullam varius nunc.</p>
      </div>
    </div>
    {{/each}}
  </body>
</html>
