<div><img class="leftpage" src='/images/pages.jpg'></div>
<div class="rightpage" style='background-image: url(/images/pages.jpg)'>
  <div class="container">
    {{> nav-bar}}
    <div class="main">
      <h1 class="center">{{{Name}}}</h1> <br>
      <div class="text">
        <h2>Type:</h2>
        <h3>{{Type}}</h3> <br>
        <h2>Personality:</h2>
        <h3>{{Characteristics}}</h3> <br>
        <h2>Minstry Classification: </h2>
        <h3>{{MOM}}</h3> <br>
        <p>{{Desc}}</p>
      </div>
      <div >
        <img class="beast-image" src={{img_url}}>
      </div>
    </div>
    <div>
    </div>