<div class="container">
  {{> nav-bar}}
  <div class="main">
    <h1 class="center">{{{name}}}</h1> <br>
    <div class="text">
      <h2>Type:</h2> <h3>{{type}}</h3> <br>
      <h2>Personality:</h2> <h3>{{characteristics}}</h3> <br>
      <h2>Minstry Classification: </h2> <h3>{{MOM}}</h3> <br>
      <p>{{Desc}}</p>
    </div>
    <div class="beast-image">
      <img src={{URL}}>
    </div>
  </div>